.property h3 span::after {
  content: "For Sale";
  border-radius: 50px;
  background-color: var(--mainColor);
  font-size: 14px;
  color: #fff;
  padding: 5px 15px;
  margin-left: 20px;
  position: relative;
  top: -3px;
}
.line::after {
  display: block;
  height: 3px;
  font-weight: bold;
  background-color: #ff385c;
  content: " ";
  width: 50px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
main {
  background-color: #f5f7fb;
}

body {
  background: #000;
  color: #000;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.title-edu {
  color: #17a2b8;
}
.title-health {
  color: #28a745;
}
.title-trans {
  color: #dc3545;
}
.fa-star:before {
  content: "\f005";
}
.rating label {
  font-size: 24px;
  letter-spacing: 4px;
  color: #dadada;
  cursor: pointer;
  transition: 0.3s;
}
.rating label:hover,
.rating label:hover ~ label {
  color: #ffc600;
}
.rating input[type="radio"]:checked ~ label {
  color: rgb(255, 198, 0);
}
.upload {
    position: absolute;
    top: 7px;
    right: -350px;
    cursor: pointer;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
}
.upload-photos {
  border-radius: 90px;
  background-color: var(--mainColor);
  padding: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.6s;
}
.carousel-control-prev,
.carousel-control-next {
  top: -280px;
  opacity: 1;
}
.carousel-control-prev {
  left: 200px;
}
.carousel-control-prev-icon {
  background-color: transparent;
  background-image: url("https://www.svgrepo.com/show/521480/arrow-prev.svg");
}
.carousel-control-next-icon {
  background-color: transparent;
  background-image: url("https://www.svgrepo.com/show/521477/arrow-next.svg");
}
.bg-green {
  background-color: #18ba60;
}
.carousel .span-1 {
  padding: 5px 15px;
  margin: 10px;
}
.carousel .span-2 {
  padding: 5px 10px;
  margin: 10px;
  right: 0;
  font-size: 14px;
}
.bg-purple {
  background-color: #6449e7;
}
.carousel .span-3 {
  top: 130px;
  left: 20px;
  transition: 0.6s;
}
.carousel .span-4 {
  top: 170px;
  left: 20px;
  transition: 0.6s;
}
.list-hidden {
  background-color: #c18847;
  opacity: 0;
  visibility: 0;
  transition: 0.6s;
}
.h-30 {
  height: 30%;
}
.carousel-item:hover .list-hidden {
  opacity: 1;
  visibility: 1;
}
.carousel-item:hover .span-3 {
  top: 90px;
}
.carousel-item:hover .span-4 {
  top: 130px;
}
.custom-btn:hover {
  color: var(--mainColor);
  background-color: #fff;
  border: var(--bs-border-width) var(--bs-border-style) var(--mainColor) !important;
}
.custom-btn {
  transition: 0.6s;
}
